* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* -----CARD----- */

.card {
    display: table;
    border: 3px solid black;
    border-radius: 10px;
    
    background-color: rgb(19, 119, 177);

    text-align: center;
}

.header {
    display: table-cell;
    vertical-align: middle;

    width: 20px;
    height: 35px;

    color: white;
}

.side-header {
    display: table-cell;
    vertical-align: middle;

    width: 25px;
    height: 30px;

    color: white;
}

.row {
    display: table-row;
}

.even .cell {
    background-color: white;
}

.uneven .cell {
    background-color: rgb(236, 253, 253);
}

.cell {
    display: table-cell;
    vertical-align: middle;
    width: 20px;
    height: 30px;

    border: 1px solid rgb(58, 57, 57);
}

/* -----COLOR----- */

[data-color="first"] {
    color: green;
}
[data-color="second"] {
    color: red;
}
[data-color="third"] {
    color: blue;
}
[data-color="fourth"] {
    color: purple;
}
[data-color="fifth"] {
    color: black;
}

/* -----EXTRA COLOR----- */

[data-extra-color="first"] {
    border-width: 2px;
    border-color: green;
    border-radius: 5px;
}
[data-extra-color="second"] {
    border-width: 2px;
    border-color: red;
    border-radius: 5px;
}
[data-extra-color="third"] {
    border-width: 2px;
    border-color: blue;
    border-radius: 5px;
}
[data-extra-color="fourth"] {
    border-width: 2px;
    border-color: purple;
    border-radius: 5px;
}
[data-extra-color="fifth"] {
    border-width: 2px;
    border-color: black;
    border-radius: 5px;
}
